<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>To-Do App</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

    <script>
        function submitTask() {
            console.log("Saving task...")

            const tmp = document.getElementById('newDescriptionInput').value

            fetch("http://localhost:8080/tasks", {
                method: "POST",
                body: JSON.stringify({
                    description: tmp,
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            })
                .then((response) => response.json())
                .then((json) => console.log(json))
                .then(() => window.location.reload());
        }

        function updateTask(id) {
            console.log("Updating task...")

            const updatedDescription = document.getElementById('inputUpdateDescription-' + id).value
            const updatedStatus = document.getElementById('inputUpdateStatus-' + id).checked

            console.log(id, updatedDescription, updatedStatus)

            fetch("http://localhost:8080/tasks/" + id, {
                method: "PUT",
                body: JSON.stringify({
                    description: updatedDescription,
                    done: updatedStatus
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            })
                .then((response) => response.json())
                .then((json) => console.log(json))
                .then(() => window.location.reload());
        }

        function deleteTask(id) {
            console.log("Deleting task...")

            fetch("http://localhost:8080/tasks/" + id, {
                method: "DELETE",
            })
                .then((response) => response.json())
                .then((json) => console.log(json))
                .then(() => window.location.reload());
        }
    </script>
</head>
<body>
<div class="container">
    <div>
        <h1><strong>Tasks:</strong> {{ . | len }}</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped align-middle">
            <thead>
            <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {{ range . }}
            <tr>
                <th scope="row" class="align-content-center justify-content-evenly">{{ .Id }}</th>
                <td class="align-content-center">{{ .Description }}</td>
                <td class="align-content-center">{{ .Done }}</td>
                <td class="d-flex justify-content-end">
                    <div>
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                data-bs-target="#submitUpdateTaskModal-{{ .Id }}">
                            Update Task
                        </button>
                        <button type="button" class="btn btn-dark" onclick="deleteTask({{ .Id }})">
                            Delete Task
                        </button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="submitUpdateTaskModal-{{ .Id }}" tabindex="-1"
                         aria-labelledby="submitUpdateTaskModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="submitUpdateTaskModalLabel">Update Task</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <label for="inputUpdateDescription-{{ .Id }}" class="form-label">Description</label>
                                    <input type="text" id="inputUpdateDescription-{{ .Id }}" class="form-control"
                                           value="{{ .Description }}">

                                    <input type="checkbox" class="btn-check" id="inputUpdateStatus-{{ .Id }}"
                                           autocomplete="off">
                                    <label class="btn btn-outline-primary"
                                           for="inputUpdateStatus-{{ .Id }}" checked="{{ .Done }}">Done</label>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    <button type="submit" class="btn btn-primary" onclick="updateTask({{ .Id }})">Save
                                        changes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {{ end }}
            <tr>
                <th scope="row"></th>
                <td>
                    <div class="">
                        <input type="text" class="form-control" id="newDescriptionInput"
                               placeholder="Task Description">
                    </div>
                </td>
                <td>

                </td>
                <td>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-dark" id="newSubmit" onclick="submitTask()">
                            Create Task
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>